* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
    
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}

ol, ul {
    list-style: none; 
}

blockquote, q {
    quotes: none; 
}

blockquote {
    &:before, &:after {
        content: '';
        content: none; 
    } 
}

q {
    &:before, &:after {
        content: '';
        content: none; 
    } 
}

table {
    border-collapse: collapse;
    border-spacing: 0; 
}

html, body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-size: 10px;
}

h1 {
    font-weight: bold;
    font-size: 2.0rem;
    color: $base-black;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.68px;
    color: $base-black;
}

h6 {
    font-size: 1.3rem;
    font-weight: 600;
    color: $base-grey;
}

p {
    font-size: 1.6rem;
    line-height: 3.1rem;
    letter-spacing: 0.54px;
    color: $base-dark-grey;
}

a {
    text-decoration: none;
    color: $base-black;
    font-size: 1.6rem;
}

.hamburger {
    position: relative;
    width: 7rem;
    height: 7rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 2.2rem;

    .hamburger-input {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;

        &:checked ~ .hamburger-line.second {
            transform: rotate(-45deg); 
        }

        &:checked ~ .hamburger-line.first {
            transform: translate(0.2rem, 0.7rem) rotate(-135deg);
        }

        &:checked ~ .hamburger-line.third {
            transform: translate(0.9rem, -0.2rem) rotate(-135deg);
        }
    }

    .hamburger-line {
        width: 100%;
        background: $base-color;
        height: 0.4rem;
        display: block;
        border-radius: 0.5rem;
        transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
        position: relative;

        &.first,
        &.third {
            width: 50%;
        }

        &.third {
            margin-left: 50%;
            transform-origin: left;
        }
    }
}